*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color:white;
    padding:15px;
    
}

li,ul,h1{
    display: inline;
}

ul{
    margin-left: 60%;
}

li{
    color:gray;
}

li:hover{
        color: white;
        cursor: pointer;

}

input{
    width: 60%;
    padding: 15px;
}

.searchbar{
    padding: 50px;
    text-align: center;
}
.Box{

    border-style: solid;
    border-width: 3px;
    display: inline-block;
    padding: 20px;
    width: 200px;
    color: black;
}

.Box :hover{
    color: sandybrown;

    
}
.products{
    text-align: center;
}

.About{
    text-align: center;
    margin-top: 20px ;
    padding: 20px;
}

.Contact{
    background-color:black;
    color: white;
    text-align: center;
    padding: 40px;

}
